

body {
    padding: 10px;
    margin: 5px;
    background-color: #0C0C0C;
}

header {
    width: 1410px;
    height: 787px;
    background-image: url(images/front.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
.logo {
    background-color: rgba(0, 0, 0, 0.411);
    width: 755px;
    height: 155px;}
   
h1 {
    visibility: hidden;
}

h2 {
    font-family: 'barrio'; 
    font-size: 60px;
    color: #b21727;
    text-align: center;
    text-transform: uppercase;
    border: #ffffff 2px solid;
<<<<<<< Updated upstream
    margin-left: 400px;
    margin-right: 400px;
   
    

   
    
=======
   

   
      
>>>>>>> Stashed changes
}

h3 {
    font-family: Source Code Pro;
    color: rgba(248, 248, 29, 0.863);
    font-size: 30px;
    text-align: center;
    text-decoration: none;

}

p{
    font-family: Source Code Pro;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.vidcontainer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   /* grid-gap: 10px 10px;*/
   grid-row-gap: 10px;
   grid-column-gap: 10px;

}


iframe {
    border: rgb(83, 83, 83) solid 2px;
    width: 560px;
    height: 315px;
}

.vidcontainer .vidgriditem {
    max-width: 100%;
    max-height: 100%; 
}

.vidcontainer img {
    grid-row: 1/3;
    grid-column: 3/4;
    align-self: center;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

div {
    display: flex;
    justify-content: center;

}

.menu {
    color: white;
}

nav li {
    list-style-type: none;
    font-size: 30px;
    border-bottom: solid #0C0C0C 4px;
    padding: 5px;
    margin-right: 33px;
    background-color: rgba(12, 12, 12, 0.5);
}

ul {
    display: flex;
    justify-content: center;
}

nav a:link, nav a:visited {
    color: #ffffff;
    text-decoration: none;
}


.imgcontainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    margin: 5px;
}

.imgcontainer .imggriditem {
    max-width: 100%;
    max-height: 100%; 

}

.imgcontainer img{
    border: rgb(83, 83, 83) solid 1px;

}

.imgcontainer figure img {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.imgcontainer figure:hover img {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.tourcontainer {
    display: grid;
    margin: 0px;
    padding: 10px;
    
}
.item {
    color: white;
    background: blueviolet;
    margin: 0.5em;
    text-transform: uppercase; 
    text-align: left;
    padding: 10px;
    float: left;
    

}
.shop img { 
    margin: 10px;
    display: flex;
    border: rgb(83, 83, 83) solid 2px; 
    width: 90%;

  
  }
  
  .shop a:link {
      text-decoration: none;
  }

  .shop a:hover {
      text-decoration: underline;
      text-decoration-color: rgba(248, 248, 29, 0.863);
      
  }

  .infocontainer {
      background-image: url(images/bg_contact1.png);
      background-position: center center;
      background-repeat: no-repeat;
  }

  .infocontainer a:link {
      text-decoration: none;
  }

  .infocontainer a:hover {
      text-decoration: underline;
      text-decoration-color: #ffffff;
  }

  .jap {
      color: #ffffff88;
      margin-top: 20px;
      padding-top: 60px;
  }

#facebook {
    max-width: 50px;
    max-height: 50px;
    color: #4267B2;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
}

#instagram {
    max-width: 50px;
    max-height: 50px;
    color: #ffffff;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
}

#twitter {
    max-width: 50px;
    max-height: 50px;
    color: #1DA1F1;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
}

#youtube {
    max-width: 50px;
    max-height: 50px;
    color: #FF0000;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
}

#spotify {
    max-width: 50px;
    max-height: 50px;
    color: #1BD760;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
}









/* SOLD OUT SIDEN*/

.sold-out {
    font-size: 20px;
    color: aliceblue;
    font-family: Source Code Pro;
    text-align: center;
}

